.header {
    height: .5rem;
    display: flex;
    background-color: azure;
    .left-icon {
      font-size: .5rem;
      line-height: .5rem;
    }
    .header-navigator {
      display: flex;
      li {
        display: inline-block;
        width: 2rem;
        font-size: .25rem;
        line-height: .5rem;
        border: 1px solid;
        text-align: center;
      }
    }
}
.left {
  display: inline-block;
  ul {
    li {
        width: 2rem;
        font-size: .25rem;
        line-height: .5rem;
        border: 1px solid;
        text-align: center;
    }
  }
}