.home-index {
    display: flex;
    flex-direction: column;
}
.block-one {
    width: 100%;
    background-image: url('../../images/bg-img01.jpg');
    background-size: cover;
    background-position-y: bottom;
    background-repeat: no-repeat;
    transform: translateX(0);
    .block-one-shadow {
        background-image: url('../../images/bg-img-shadow.png');
        height: 100%;
    }
    .block-one-text {
        font-weight: 100;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        color: #fff;
        top: 2.5rem;
        position: absolute;
        .block-one-title {
            font-size: .42rem;
        }
    }
    
}