.list-icon {
    position: absolute;
    right: 0;
    z-index: 10;
    width: 2rem;
    img {
        width: .3rem;
        cursor: pointer;
    }
    ul {
        li {
            font-size: .16rem;
            color: #fff;
        }
    }
}