.list {
    width: 2.5rem;
    position: absolute;
    top: 0;
    bottom: 0; 
    right: -2.5rem;
    z-index: 5;
    transition: all 0.3s ease-in-out;
    background-color: rgba(3, 26, 42, 0.4);
    img {
        width: .3rem;
        margin-right: .6rem;
        cursor: pointer;
    }
    .list-icon-show {
        display: inline-block;
    }
    .list-icon-hide {
        display: none;
    }
    ul {
        width: 100%;
        position: absolute;
        right: 0;
        top: 0.8rem;
        bottom: 0;
        display: flex;
        flex-direction: column;
        li {
            font-size: .16rem;
            color: #fff;
            margin-top: .1rem;
            padding-left: .3rem;
            box-sizing: border-box;
            cursor: pointer;
            &:hover {
                background: rgba(3, 26, 42, 1);
            }
        }
    }
}
.list-show {
    transform: translateX(-2.5rem);
}